n8n_json/test2.json
{
  "name": "test2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-html",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa1891f5-9ad9-4f0c-ad69-1e6039f8823d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -16,
        64
      ],
      "webhookId": "f8226a73-45cb-4183-8e84-feb7fbd4fa10"
    },
    {
      "parameters": {
        "jsCode": "// Separar imágenes por tamaño - la más grande es la infografía\nconst files = $input.all()[0].binary;\nconst projectName = $input.all()[0].json.projectName || 'infografia_' + Date.now();\n\n// Validar que existan archivos\nif (!files || Object.keys(files).length === 0) {\n  throw new Error('No se encontraron archivos para procesar');\n}\n\nlet filesSizes = [];\n\n// Calcular tamaño de cada archivo\nObject.keys(files).forEach(key => {\n  try {\n    const fileSize = Buffer.from(files[key].data, 'base64').length;\n    filesSizes.push({\n      name: key,\n      size: fileSize,\n      data: files[key]\n    });\n  } catch (error) {\n    console.error(`Error procesando archivo ${key}:`, error);\n  }\n});\n\n// Ordenar por tamaño descendente (más grande primero)\nfilesSizes.sort((a, b) => b.size - a.size);\n\n// La más grande es la infografía, el resto son elementos\nconst finalInfografia = filesSizes[0];\nconst elementImages = filesSizes.slice(1);\n\n// Preparar binary data para salida\nlet outputBinary = {\n  finalInfografia: finalInfografia.data\n};\n\n// Agregar elementos numerados\nelementImages.forEach((img, index) => {\n  outputBinary[`elemento_${index + 1}`] = img.data;\n});\n\nreturn [{\n  json: {\n    projectName,\n    largestFile: finalInfografia.name,\n    largestSize: (finalInfografia.size / 1024 / 1024).toFixed(2) + 'MB',\n    elementCount: elementImages.length,\n    totalFiles: filesSizes.length,\n    elementSizes: elementImages.map((img, index) => ({\n      name: img.name,\n      newName: `elemento_${index + 1}`,\n      size: (img.size / 1024 / 1024).toFixed(2) + 'MB'\n    })),\n    fileSizeOrder: filesSizes.map(f => ({\n      name: f.name,\n      size: (f.size / 1024 / 1024).toFixed(2) + 'MB'\n    }))\n  },\n  binary: outputBinary\n}];"
      },
      "id": "0be1933a-244b-42e6-b3ea-59e0f530ea6d",
      "name": "Code - Separar Archivos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        64
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "requestOptions": {}
      },
      "id": "fe9eed57-2a5f-49c2-9a71-04cd485e0340",
      "name": "SharePoint - Crear Carpeta",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        432,
        320
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "R00WN03vbEZVLxfo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6f6d3902-9fd8-41b5-925c-235b3f69cbec",
      "name": "Split - Elementos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        80
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "d8189da1-4c24-45de-b966-ba1bbc4f5edd",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "fileName": "={{Object.keys($binary)[0]}}.png",
        "requestOptions": {}
      },
      "id": "f43588c6-6fc9-4617-b539-9d9970c41e7e",
      "name": "SharePoint - Subir Elementos",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1072,
        144
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "R00WN03vbEZVLxfo",
          "name": "Microsoft SharePoint account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 20000
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": [{\"type\": \"text\", \"text\": \"Genera un email HTML completo basado en las imágenes que te comparto. Sigue estas especificaciones técnicas:\\n\\n### Estructura base requerida:\\n- DOCTYPE XHTML 1.0 Transitional\\n- Tabla principal: 600px de ancho, centrada, bgcolor=\\\"#FFF\\\"\\n- Fuente principal: Arial, Helvetica, sans-serif\\n- Colores corporativos: #FF4F00 (naranja), #45494E (gris oscuro), #1c1c1c (negro)\\n\\n### Elementos obligatorios:\\n1. **Header**: Imagen de cabecera (600x400px) con enlace\\n2. **Saludo**: \\\"Hola, [Nombre del Cliente]:\\\" en color #FF4F00, tamaño 24px, bold\\n3. **Contenido principal**: Reproduce exactamente el texto y elementos visuales de la imagen\\n4. **Footer estándar**:\\n   - Logo Credicorp (600x71px)\\n   - Texto legal: \\\"PRIMA AFP S.A. RUC 20510398158\\\"\\n   - Links a redes sociales (Facebook, Instagram, LinkedIn, YouTube)\\n   - Link a prima.com.pe\\n\\n### Especificaciones técnicas:\\n- Usar solo tablas para layout (compatible con Outlook)\\n- Padding consistente: 50px izquierda y derecha para contenido\\n- Espaciado vertical con celdas vacías: \\\"<td width=\\\\\\\"23px\\\\\\\">&nbsp;</td>\\\"\\n- Imágenes disponibles: {{$node['Code - Separar Archivos'].json.elementFiles.map(el => el.id + '.png').join(', ')}}\\n- Rutas de imágenes: /Infografias/{{$node['Code - Separar Archivos'].json.projectName}}/images/\\n- Enlaces: Mantener targets=\\\"_blank\\\" para links externos\\n\\n### Elementos visuales a recrear:\\n- Cards/banners con dimensiones exactas de la imagen\\n- Iconos con texto alineado (usar tablas de 2 columnas)\\n- Botones/CTAs como imágenes con enlaces\\n- Colores destacados en texto usando \\\"<font color=\\\\\\\"FF4F00\\\\\\\">\\\"\\n\\n### Instrucciones específicas:\\n- Reproduce EXACTAMENTE el texto visible en la imagen\\n- Mantén las proporciones y spacing de los elementos\\n- Usa strong/bold para énfasis según se vea en la imagen\\n- Conserva la jerarquía visual (tamaños de fuente, colores)\\n- Asegúrate de que sea responsive manteniendo la estructura de tabla\\n\\n### Contexto del proyecto:\\n- Total de archivos: {{$node['Code - Separar Archivos'].json.totalFiles}}\\n- Elementos disponibles: {{$node['Code - Separar Archivos'].json.elementCount}}\\n- Proyecto: {{$node['Code - Separar Archivos'].json.projectName}}\\n\\nProporciona el código HTML completo, funcional y listo para usar, con comentarios que indiquen las secciones principales del email.\"}, {\"type\": \"image\", \"source\": {\"type\": \"base64\", \"media_type\": \"image/png\", \"data\": \"{{$node['Code - Separar Archivos'].binary.finalInfografia.data}}\"}}]}]"
            }
          ]
        },
        "options": {}
      },
      "id": "e29f6362-4f7e-46d5-abf6-54c732f74c82",
      "name": "Claude Sonnet 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1296,
        64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OD5wOcdvLGqmhUVY",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "d8189da1-4c24-45de-b966-ba1bbc4f5edd",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "fileName": "={{$json.fileName}}",
        "requestOptions": {}
      },
      "id": "e96efcb3-bb42-45a3-b09b-711a5a6ba107",
      "name": "SharePoint - Guardar HTML",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1552,
        -112
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "R00WN03vbEZVLxfo",
          "name": "Microsoft SharePoint account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Infografía generada exitosamente\",\n  \"projectName\": \"{{$node['Code - Procesar HTML'].json.projectName}}\",\n  \"files\": {\n    \"html\": \"/output/{{$node['Code - Procesar HTML'].json.fileName}}\",\n    \"sharepoint_url\": \"{{$node['SharePoint - Guardar HTML'].json.webUrl}}\"\n  },\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}",
        "options": {}
      },
      "id": "ddd45abd-367d-456b-8e49-9e52afc07c9c",
      "name": "Respuesta Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1952,
        64
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "site": {
          "__rl": true,
          "value": "d8189da1-4c24-45de-b966-ba1bbc4f5edd",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        848,
        -160
      ],
      "id": "e45eb48d-b039-49f5-86d7-b04c07d033f0",
      "name": "Update file",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "R00WN03vbEZVLxfo",
          "name": "Microsoft SharePoint account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Separar Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Separar Archivos": {
      "main": [
        [
          {
            "node": "SharePoint - Crear Carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint - Crear Carpeta": {
      "main": [
        [
          {
            "node": "Split - Elementos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split - Elementos": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint - Subir Elementos": {
      "main": [
        [
          {
            "node": "Claude Sonnet 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint - Guardar HTML": {
      "main": [
        [
          {
            "node": "Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4": {
      "main": [
        [
          {
            "node": "SharePoint - Guardar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "SharePoint - Subir Elementos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76f65d05-9a46-4d87-a545-b4a9a9a7f433",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4f576128860ee17e4a2b421d3b3157b65ebefc2f24308fec2dd5d369f0fe737"
  },
  "id": "G8dRiQDIwH9sw4cD",
  "tags": []
}