n8n_json/test_claude_2.json
{
  "name": "test_claude_2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-infografia",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "64077b12-ed1a-420c-a4b6-726c35dc1f71",
      "name": "Webhook FormData",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2128,
        336
      ],
      "webhookId": "9a1ce852-b993-465b-8ff8-a5c4cc3a72e3",
      "notes": "Recibe FormData del frontend con archivos - CONFIGURACIÓN CORREGIDA"
    },
    {
      "parameters": {
        "jsCode": "// Procesar FormData y seleccionar infografía por nombre \"Email\" - VERSIÓN CORREGIDA\nconst items = $input.all();\n\nconsole.log('DEBUG: Número de items recibidos:', items.length);\nconsole.log('DEBUG: Estructura del primer item:', JSON.stringify(items[0], null, 2));\n\nif (!items || items.length === 0) {\n  throw new Error('No se recibieron datos en el webhook');\n}\n\nconst inputData = items[0];\n\n// N8N maneja FormData de manera específica\nlet formData = {};\nlet files = {};\n\n// Método 1: Datos en body.data (común en N8N con FormData)\nif (inputData.body && inputData.body.data) {\n  formData = inputData.body.data;\n  console.log('DEBUG: Usando body.data para formData');\n}\n// Método 2: Datos directamente en body\nelse if (inputData.body) {\n  formData = inputData.body;\n  console.log('DEBUG: Usando body directo para formData');\n}\n// Método 3: Datos en json\nelse if (inputData.json) {\n  formData = inputData.json;\n  console.log('DEBUG: Usando json para formData');\n}\n\n// Archivos binarios en N8N\nif (inputData.binary) {\n  files = inputData.binary;\n  console.log('DEBUG: Archivos encontrados en binary:', Object.keys(files));\n}\n\nconsole.log('DEBUG: FormData keys:', Object.keys(formData));\nconsole.log('DEBUG: Binary keys:', Object.keys(files));\n\n// Buscar projectName de forma flexible\nlet projectName = formData.projectName ||\n                  formData['projectName'] ||\n                  (formData.data && formData.data.projectName) ||\n                  null;\n\n// Si todavía no se encuentra, buscar entre todas las keys disponibles (case-insensitive)\nif (!projectName) {\n  for (const [key, value] of Object.entries(formData)) {\n    if (typeof key === 'string' && key.toLowerCase().includes('project') && typeof value === 'string' && value.trim() !== '') {\n      projectName = value;\n      console.log(`DEBUG: projectName encontrado por key flexible: ${key} -> ${value}`);\n      break;\n    }\n    // Si es un objeto, buscar un subkey que contenga \"project\"\n    if (typeof value === 'object' && value !== null) {\n      for (const [subKey, subValue] of Object.entries(value)) {\n        if (typeof subKey === 'string' && subKey.toLowerCase().includes('project') && typeof subValue === 'string' && subValue.trim() !== '') {\n          projectName = subValue;\n          console.log(`DEBUG: projectName encontrado en objeto anidado: ${key}.${subKey} -> ${subValue}`);\n          break;\n        }\n      }\n    }\n    if (projectName) break;\n  }\n}\n\nif (!projectName) {\n  console.log('ERROR: No se encontró projectName. Dump de FormData completo:', JSON.stringify(formData, null, 2));\n  throw new Error(\n    'No se encontró el nombre del proyecto. Verifica que el campo \"projectName\" esté siendo enviado correctamente. ' +\n    '\\nClaves disponibles en formData: ' + Object.keys(formData).join(', ')\n  );\n}\n\nconsole.log(`✓ Proyecto detectado: ${projectName}`);\n\n// Buscar archivos con estrategia mejorada\nconst allImages = [];\nlet imageCount = 0;\n\n// Estrategia 1: Buscar en binary data (lo más común en N8N)\nObject.keys(files).forEach(key => {\n  console.log(`Examinando key: ${key}, tipo:`, typeof files[key]);\n  \n  if (key.startsWith('imagen_') && files[key]) {\n    const fileData = files[key];\n    console.log(`Procesando archivo binary: ${key}`, {\n      fileName: fileData.fileName,\n      mimeType: fileData.mimeType,\n      hasData: !!fileData.data,\n      dataLength: fileData.data ? fileData.data.length : 0\n    });\n    \n    if (fileData.data) {\n      allImages.push({\n        fileName: fileData.fileName || `imagen_${imageCount + 1}.jpg`,\n        mimeType: fileData.mimeType || 'image/jpeg',\n        size: fileData.data.length,\n        data: fileData.data,\n        originalName: fileData.fileName || `imagen_${imageCount + 1}.jpg`,\n        index: imageCount,\n        source: 'binary'\n      });\n      imageCount++;\n      console.log(`✓ Imagen agregada desde binary: ${fileData.fileName}, size: ${fileData.data.length}`);\n    }\n  }\n});\n\n// Estrategia 2: Buscar en formData si no encontramos en binary\nif (allImages.length === 0) {\n  console.log('No se encontraron imágenes en binary, buscando en formData...');\n  \n  Object.keys(formData).forEach(key => {\n    if (key.startsWith('imagen_')) {\n      const fileData = formData[key];\n      console.log(`Examinando formData key: ${key}`, typeof fileData);\n      \n      if (fileData && typeof fileData === 'object') {\n        const imageFile = Array.isArray(fileData) ? fileData[0] : fileData;\n        \n        if (imageFile && (imageFile.data || imageFile.buffer)) {\n          const imageSize = imageFile.size || (imageFile.data ? imageFile.data.length : imageFile.buffer.length);\n          allImages.push({\n            fileName: imageFile.filename || imageFile.originalname || imageFile.name || `imagen_${imageCount + 1}.jpg`,\n            mimeType: imageFile.mimetype || imageFile.contentType || imageFile.type || 'image/jpeg',\n            size: imageSize,\n            data: imageFile.data || imageFile.buffer,\n            originalName: imageFile.originalname || imageFile.filename || imageFile.name || `imagen_${imageCount + 1}.jpg`,\n            index: imageCount,\n            source: 'formData'\n          });\n          imageCount++;\n          console.log(`✓ Imagen agregada desde formData: ${imageFile.filename || 'sin_nombre'}, size: ${imageSize}`);\n        }\n      }\n    }\n  });\n}\n\n// Estrategia 3: Buscar por índices numéricos si los anteriores fallan\nif (allImages.length === 0) {\n  console.log('Buscando imágenes por índices numéricos...');\n  \n  for (let i = 0; i < 10; i++) {\n    const keyBinary = `imagen_${i}`;\n    const keyForm = `imagen_${i}`;\n    \n    // Buscar en binary\n    if (files[keyBinary] && files[keyBinary].data) {\n      const fileData = files[keyBinary];\n      allImages.push({\n        fileName: fileData.fileName || `imagen_${i + 1}.jpg`,\n        mimeType: fileData.mimeType || 'image/jpeg',\n        size: fileData.data.length,\n        data: fileData.data,\n        originalName: fileData.fileName || `imagen_${i + 1}.jpg`,\n        index: i,\n        source: 'binary_indexed'\n      });\n      console.log(`✓ Imagen encontrada por índice binary: ${i}, size: ${fileData.data.length}`);\n    }\n    // Buscar en formData\n    else if (formData[keyForm] && formData[keyForm].data) {\n      const fileData = formData[keyForm];\n      const imageSize = fileData.size || fileData.data.length;\n      allImages.push({\n        fileName: fileData.filename || `imagen_${i + 1}.jpg`,\n        mimeType: fileData.mimetype || 'image/jpeg',\n        size: imageSize,\n        data: fileData.data,\n        originalName: fileData.filename || `imagen_${i + 1}.jpg`,\n        index: i,\n        source: 'form_indexed'\n      });\n      console.log(`✓ Imagen encontrada por índice form: ${i}, size: ${imageSize}`);\n    }\n  }\n}\n\n// Verificación final\nif (allImages.length === 0) {\n  console.log('ERROR: No se encontraron imágenes válidas.');\n  console.log('FormData disponible:', Object.keys(formData));\n  console.log('Binary disponible:', Object.keys(files));\n  \n  throw new Error(`No se encontraron imágenes válidas. \n    FormData keys: ${Object.keys(formData).join(', ')}\n    Binary keys: ${Object.keys(files).join(', ')}\n    Verifica que las imágenes se estén enviando con nombres 'imagen_0', 'imagen_1', etc.`);\n}\n\n// NUEVO CRITERIO: Buscar infografía por nombre que empiece con \"Email\"\nconsole.log('BUSCANDO INFOGRAFÍA POR NOMBRE \"Email\"...');\nconsole.log('Nombres de archivos disponibles:', allImages.map(img => img.fileName || img.originalName));\n\nconst infografiaImage = allImages.find(img => {\n  const fileName = (img.fileName || img.originalName || '').toLowerCase();\n  const startsWithEmail = fileName.startsWith('email');\n  \n  console.log(`Verificando imagen: ${img.fileName || img.originalName} - Empieza con \"email\": ${startsWithEmail}`);\n  return startsWithEmail;\n});\n\n// Si no se encuentra imagen con \"Email\", usar fallback por tamaño\nif (!infografiaImage) {\n  console.log('WARNING: No se encontró imagen que empiece con \"Email\", usando fallback por tamaño');\n  // Fallback: usar la imagen más pesada\n  allImages.sort((a, b) => b.size - a.size);\n  var selectedInfografia = allImages[0];\n  var selectionMethod = 'fallback_size';\n} else {\n  var selectedInfografia = infografiaImage;\n  var selectionMethod = 'email_name';\n  console.log(`✓ INFOGRAFÍA SELECCIONADA POR NOMBRE: ${infografiaImage.fileName || infografiaImage.originalName}`);\n}\n\n// Crear array de elementos (todas las imágenes excepto la infografía)\nconst elementImages = allImages.filter(img => img !== selectedInfografia);\n\nconsole.log(`🎉 PROCESAMIENTO EXITOSO:`);\nconsole.log(`   Proyecto: ${projectName}`);\nconsole.log(`   Total imágenes: ${allImages.length}`);\nconsole.log(`   Infografía principal: ${selectedInfografia.fileName || selectedInfografia.originalName} (${(selectedInfografia.size/1024/1024).toFixed(2)}MB)`);\nconsole.log(`   Método de selección: ${selectionMethod}`);\nconsole.log(`   Elementos adicionales: ${elementImages.length}`);\nconsole.log(`   Fuente de datos: ${selectedInfografia.source}`);\n\n// Generar ID único del proyecto con timestamp\nconst projectId = `${projectName.replace(/[^a-zA-Z0-9]/g, '_')}_${Date.now()}`;\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    project_id: projectId,\n    project_name: projectName,\n    timestamp: timestamp,\n    infografia_image: selectedInfografia, // La imagen que empieza con \"Email\"\n    element_images: elementImages,        // Todas las demás imágenes\n    total_images: allImages.length,\n    all_images: allImages, // Mantener array completo\n    selection_method: selectionMethod, // Para debug\n    ready_for_processing: true,\n    debug_info: {\n      formdata_keys: Object.keys(formData),\n      binary_keys: Object.keys(files),\n      images_found_in: allImages[0]?.source || 'none',\n      infografia_size_mb: (selectedInfografia.size/1024/1024).toFixed(2),\n      infografia_name: selectedInfografia.fileName || selectedInfografia.originalName,\n      elements_count: elementImages.length,\n      selection_method: selectionMethod,\n      webhook_input_structure: {\n        has_body: !!inputData.body,\n        has_binary: !!inputData.binary,\n        has_json: !!inputData.json\n      },\n      all_filenames: allImages.map(img => img.fileName || img.originalName)\n    }\n  }\n};"
      },
      "id": "a40c2a47-7980-4f8a-a5f4-78f300224955",
      "name": "Procesar FormData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant-id",
              "name": "TENANT_ID",
              "type": "string",
              "value": "9f7ea239-412b-4a34-b2a9-bbcbebd9536e"
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "d4fcadd0-f87e-4ed6-be5d-1b108afec2cf"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "API-SECRET"
            },
            {
              "id": "sharepoint-host",
              "name": "SHAREPOINT_HOSTNAME",
              "type": "string",
              "value": "netorgft4158062.sharepoint.com"
            },
            {
              "id": "sharepoint-site",
              "name": "SHAREPOINT_SITE",
              "type": "string",
              "value": "RespuestasdeFormulariodetraspasos"
            },
            {
              "id": "claude-api-key",
              "name": "CLAUDE_API_KEY",
              "type": "string",
              "value": "API-CLAUDE"
            }
          ]
        },
        "options": {}
      },
      "id": "97b35a41-f2e4-444a-891d-02233b767760",
      "name": "Configurar Credenciales",
      "type": "n8n-nodes-base.set",
      "position": [
        -1728,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://login.microsoftonline.com/{{ $json.TENANT_ID }}/oauth2/v2.0/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.CLIENT_SECRET }}"
            },
            {
              "name": "scope",
              "value": "https://graph.microsoft.com/.default"
            }
          ]
        },
        "options": {}
      },
      "id": "781b242b-6721-45fc-a1bf-ce02c4058c7d",
      "name": "Autenticar SharePoint",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1520,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('Configurar Credenciales').item.json.SHAREPOINT_HOSTNAME }}:/sites/{{ $('Configurar Credenciales').item.json.SHAREPOINT_SITE }}:",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5554c851-68ba-4675-8a9a-6ad86b632619",
      "name": "Obtener Info Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1328,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Preparar estructura de carpetas organizada por proyecto - VERSIÓN MEJORADA\nconst projectData = $input.first().json;\nconst siteId = projectData.id;\nconst accessToken = projectData.access_token;\nconst projectId = projectData.project_id;\n\n// NUEVA ESTRUCTURA: Carpeta individual por ejecución\nconst baseFolder = `/Documentos compartidos/HTML_Mailings`;\nconst projectFolder = `${baseFolder}/${projectId}`; // Carpeta única por ejecución\nconst infografiaFolder = `${projectFolder}/infografia`; // Solo para la imagen principal\nconst elementosFolder = `${projectFolder}/elementos`; // Para imágenes adicionales\nconst outputFolder = projectFolder; // HTML se guarda en la raíz del proyecto\n\nconsole.log('📁 NUEVA ESTRUCTURA DE CARPETAS:');\nconsole.log(`   Base: ${baseFolder}`);\nconsole.log(`   Proyecto: ${projectFolder}`);\nconsole.log(`   Infografía: ${infografiaFolder}`);\nconsole.log(`   Elementos: ${elementosFolder}`);\nconsole.log(`   Salida HTML: ${outputFolder}`);\n\nreturn {\n  json: {\n    ...projectData,\n    SITE_ID: siteId,\n    access_token: accessToken,\n    BASE_FOLDER: baseFolder,\n    PROJECT_FOLDER: projectFolder,\n    INFOGRAFIA_FOLDER: infografiaFolder,\n    ELEMENTOS_FOLDER: elementosFolder,\n    OUTPUT_FOLDER: outputFolder,\n    folders_structure: [\n      {\n        path: baseFolder,\n        name: 'HTML_Mailings',\n        parent: '/Documentos compartidos',\n        description: 'Carpeta base para todos los proyectos'\n      },\n      {\n        path: projectFolder,\n        name: projectId,\n        parent: baseFolder,\n        description: 'Carpeta única del proyecto actual'\n      },\n      {\n        path: infografiaFolder,\n        name: 'infografia',\n        parent: projectFolder,\n        description: 'Solo para la imagen principal (más pesada)'\n      },\n      {\n        path: elementosFolder,\n        name: 'elementos',\n        parent: projectFolder,\n        description: 'Para imágenes adicionales/elementos'\n      }\n    ]\n  }\n};"
      },
      "id": "4db6f7d4-fba5-4479-9058-b7b1389df15d",
      "name": "Preparar Estructura Carpetas",
      "type": "n8n-nodes-base.code",
      "position": [
        -1120,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80a8e147-3b41-4543-b4e2-576d285e0a53",
      "name": "Crear Carpetas",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -928,
        336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Subir SOLO la imagen de infografía (la más pesada) - NUEVA LÓGICA\nconst inputItems = $input.all();\n\nconsole.log('=== DEBUG SUBIR INFOGRAFÍA ===');\nconsole.log('Número de items recibidos:', inputItems.length);\n\nif (!inputItems || inputItems.length === 0) {\n  throw new Error(\"No se recibieron datos de entrada en Subir Infografía.\");\n}\n\n// El primer item contiene toda la información\nconst mainData = inputItems[0].json;\n\nconsole.log('Keys disponibles en mainData:', Object.keys(mainData));\n\n// Verificar que tenemos los datos necesarios\nif (!mainData) {\n  throw new Error(\"No se encontraron datos JSON en la entrada de Subir Infografía.\");\n}\n\n// Obtener la imagen de infografía (la más pesada)\nlet infografiaImage = null;\n\n// Estrategia 1: Buscar infografia_image directamente\nif (mainData.infografia_image) {\n  infografiaImage = mainData.infografia_image;\n  console.log('✓ Encontrada infografia_image directamente');\n}\n// Estrategia 2: Buscar el primer elemento de all_images (ya está ordenado por tamaño)\nelse if (mainData.all_images && Array.isArray(mainData.all_images) && mainData.all_images.length > 0) {\n  infografiaImage = mainData.all_images[0]; // El primero es el más pesado\n  console.log('✓ Usando el primer elemento de all_images como infografía');\n}\n// Estrategia 3: Acceder al nodo anterior\nelse {\n  try {\n    const procesamientoData = $('Procesar FormData').first().json;\n    if (procesamientoData && procesamientoData.infografia_image) {\n      infografiaImage = procesamientoData.infografia_image;\n      console.log('✓ Obtenida infografia_image desde nodo Procesar FormData');\n      \n      // Combinar con los datos actuales\n      Object.assign(mainData, procesamientoData);\n    }\n  } catch (e) {\n    console.log('No se pudo acceder al nodo Procesar FormData:', e.message);\n  }\n}\n\n// Verificación final\nif (!infografiaImage) {\n  console.log('ERROR: No se encontró imagen de infografía');\n  console.log('Datos disponibles:', Object.keys(mainData));\n  \n  throw new Error(`Imagen de infografía no encontrada. Claves disponibles: ${Object.keys(mainData).join(', ')}. Verifica que se haya procesado correctamente.`);\n}\n\nconsole.log('Infografía a subir:', {\n  fileName: infografiaImage.fileName,\n  size: infografiaImage.size,\n  hasData: !!(infografiaImage.data || infografiaImage.buffer),\n  sizeMB: (infografiaImage.size / 1024 / 1024).toFixed(2)\n});\n\n// Verificar que la imagen tiene datos válidos\nif (!infografiaImage.data && !infografiaImage.buffer) {\n  throw new Error(`La imagen de infografía no tiene datos válidos. Propiedades disponibles: ${Object.keys(infografiaImage).join(', ')}`);\n}\n\n// Generar nombre limpio para la imagen de infografía\nconst baseFileName = infografiaImage.fileName || infografiaImage.originalName || 'infografia_principal.jpg';\nconst cleanFileName = `infografia_${baseFileName.replace(/[^a-zA-Z0-9\\.]/g, '_')}`;\n\n// Construir la ruta de destino en la carpeta de infografía\nconst infografiaFolder = mainData.INFOGRAFIA_FOLDER || `${mainData.PROJECT_FOLDER}/infografia`;\nconst targetPath = `${infografiaFolder}/${cleanFileName}`;\n\nconsole.log(`✓ Subiendo infografía principal`);\nconsole.log(`  Nombre: ${cleanFileName}`);\nconsole.log(`  Tamaño: ${(infografiaImage.size / 1024 / 1024).toFixed(2)}MB`);\nconsole.log(`  Ruta: ${targetPath}`);\n\n// Preparar datos binarios\nconst binaryData = infografiaImage.data || infografiaImage.buffer;\nconst mimeType = infografiaImage.mimeType || infografiaImage.mimetype || 'image/jpeg';\n\nreturn {\n  json: {\n    ...mainData,\n    infografia_uploaded: {\n      ...infografiaImage,\n      cleanFileName: cleanFileName,\n      targetPath: targetPath,\n      relativePath: `./infografia/${cleanFileName}`,\n      uploaded: true\n    },\n    upload_info: {\n      type: 'infografia',\n      fileName: cleanFileName,\n      sizeMB: (infografiaImage.size / 1024 / 1024).toFixed(2),\n      folder: infografiaFolder\n    }\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: mimeType,\n      fileName: cleanFileName\n    }\n  }\n};"
      },
      "id": "e239b752-4ed2-49e4-bbb3-f5be3c287cbb",
      "name": "Preparar Infografía",
      "type": "n8n-nodes-base.code",
      "position": [
        -560,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('Preparar Estructura Carpetas').item.json.SITE_ID }}/drive/root:{{ $('Preparar Estructura Carpetas').item.json.PROJECT_FOLDER }}/{{ $json.html_file_name }}:/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.infografia_uploaded.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6a505b16-386f-4271-a34e-4b7c83ae4577",
      "name": "Subir Infografía",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -368,
        32
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7d128ebb-e31e-4d02-b975-0f835936d994",
      "name": "Procesar Elementos",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -544,
        336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Procesar elementos adicionales (todas las imágenes excepto la infografía)\nconst inputItems = $input.all();\n\nconsole.log('=== DEBUG PREPARAR ELEMENTO ===');\nconsole.log('Número de items recibidos:', inputItems.length);\n\nif (!inputItems || inputItems.length === 0) {\n  throw new Error(\"No se recibieron datos de entrada en Preparar Elemento.\");\n}\n\n// El primer item contiene toda la información\nconst mainData = inputItems[0].json;\n\nconsole.log('Keys disponibles en mainData:', Object.keys(mainData));\n\n// Verificar que tenemos los datos necesarios\nif (!mainData) {\n  throw new Error(\"No se encontraron datos JSON en la entrada de Preparar Elemento.\");\n}\n\n// Obtener las imágenes de elementos (todas excepto la primera que es la infografía)\nlet elementImages = [];\nlet currentBatchIndex = 0;\n\n// Estrategia 1: Buscar element_images directamente\nif (mainData.element_images && Array.isArray(mainData.element_images)) {\n  elementImages = mainData.element_images;\n  console.log('✓ Encontrado element_images array con', elementImages.length, 'elementos');\n}\n// Estrategia 2: Extraer desde all_images (saltando el primero que es la infografía) else if (mainData.all_images && Array.isArray(mainData.all_images) && mainData.all_images.length > 1) {\n  elementImages = mainData.all_images.slice(1); // Omitir el primer elemento (infografía)\n  console.log('✓ Extrayendo elementos desde all_images:', elementImages.length, 'elementos');\n}\n// Estrategia 3: Acceder al nodo anterior\nelse {\n  try {\n    const procesamientoData = $('Procesar FormData').first().json;\n    if (procesamientoData && procesamientoData.element_images) {\n      elementImages = procesamientoData.element_images;\n      console.log('✓ Obtenido element_images desde nodo Procesar FormData');\n      \n      // Combinar con los datos actuales\n      Object.assign(mainData, procesamientoData);\n    } else if (procesamientoData && procesamientoData.all_images && procesamientoData.all_images.length > 1) {\n      elementImages = procesamientoData.all_images.slice(1);\n      console.log('✓ Extrayendo elementos desde Procesar FormData all_images');\n      Object.assign(mainData, procesamientoData);\n    }\n  } catch (e) {\n    console.log('No se pudo acceder al nodo Procesar FormData:', e.message);\n  }\n}\n\n// Si no hay elementos adicionales, retornamos sin procesar\nif (!elementImages || !Array.isArray(elementImages) || elementImages.length === 0) {\n  console.log('ℹ️ No hay elementos adicionales para procesar. Solo infografía principal.');\n  return {\n    json: {\n      ...mainData,\n      no_elements: true,\n      elements_count: 0,\n      message: 'No hay elementos adicionales para procesar'\n    }\n  };\n}\n\n// Obtener el índice del batch actual\nif (typeof mainData.batchIndex === 'number') {\n  currentBatchIndex = mainData.batchIndex;\n} else if (typeof mainData.$index === 'number') {\n  currentBatchIndex = mainData.$index;\n} else if (typeof mainData.index === 'number') {\n  currentBatchIndex = mainData.index;\n} else {\n  console.log('WARNING: No se encontró índice de batch, usando 0');\n  currentBatchIndex = 0;\n}\n\nconsole.log('Índice del batch actual:', currentBatchIndex);\nconsole.log('Total de elementos disponibles:', elementImages.length);\n\n// Validar que el índice está en rango\nif (currentBatchIndex < 0 || currentBatchIndex >= elementImages.length) {\n  throw new Error(`Índice de batch inválido: ${currentBatchIndex}. Total elementos: ${elementImages.length}`);\n}\n\n// Obtener el elemento actual\nconst currentElement = elementImages[currentBatchIndex];\n\nif (!currentElement) {\n  throw new Error(`No se encontró elemento en el índice ${currentBatchIndex}`);\n}\n\nconsole.log('Elemento actual:', {\n  index: currentBatchIndex,\n  fileName: currentElement.fileName,\n  size: currentElement.size,\n  hasData: !!(currentElement.data || currentElement.buffer)\n});\n\n// Verificar que el elemento tiene datos válidos\nif (!currentElement.data && !currentElement.buffer) {\n  throw new Error(`El elemento en índice ${currentBatchIndex} no tiene datos válidos. Propiedades disponibles: ${Object.keys(currentElement).join(', ')}`);\n}\n\n// Generar nombre limpio para el elemento\nconst baseFileName = currentElement.fileName || currentElement.originalName || `elemento_${currentBatchIndex + 1}.jpg`;\nconst cleanFileName = `elemento_${String(currentBatchIndex + 1).padStart(2, '0')}_${baseFileName.replace(/[^a-zA-Z0-9\\.]/g, '_')}`;\n\n// Construir la ruta de destino en la carpeta de elementos\nconst elementosFolder = mainData.ELEMENTOS_FOLDER || `${mainData.PROJECT_FOLDER}/elementos`;\nconst targetPath = `${elementosFolder}/${cleanFileName}`;\n\nconsole.log(`✓ Procesando elemento ${currentBatchIndex + 1}/${elementImages.length}`);\nconsole.log(`  Nombre: ${cleanFileName}`);\nconsole.log(`  Tamaño: ${(currentElement.size / 1024 / 1024).toFixed(2)}MB`);\nconsole.log(`  Ruta: ${targetPath}`);\n\n// Preparar datos binarios\nconst binaryData = currentElement.data || currentElement.buffer;\nconst mimeType = currentElement.mimeType || currentElement.mimetype || 'image/jpeg';\n\nreturn {\n  json: {\n    ...mainData,\n    current_element: {\n      ...currentElement,\n      cleanFileName: cleanFileName,\n      targetPath: targetPath,\n      relativePath: `./elementos/${cleanFileName}`,\n      uploadIndex: currentBatchIndex + 1,\n      totalElements: elementImages.length\n    },\n    batch_info: {\n      currentIndex: currentBatchIndex,\n      totalElements: elementImages.length,\n      isLast: currentBatchIndex === elementImages.length - 1\n    }\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: mimeType,\n      fileName: cleanFileName\n    }\n  }\n};"
      },
      "id": "dfa6a138-8e0a-4ea6-b598-a59a513a22c9",
      "name": "Preparar Elemento",
      "type": "n8n-nodes-base.code",
      "position": [
        -368,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.SITE_ID }}/drive/root:{{ $json.current_element.targetPath }}:/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.current_element.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "5a212cd8-fd68-454f-ade2-fc907d881f35",
      "name": "Subir Elemento",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -192,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Preparar prompt mejorado para Claude - ENFOQUE EN INFOGRAFÍA\nconst allUploads = $input.all();\nconsole.log('=== DEBUG PREPARAR PROMPT CLAUDE MEJORADO ===');\nconsole.log('Número de uploads recibidos:', allUploads.length);\n\nif (!allUploads || allUploads.length === 0) {\n  throw new Error('No se recibieron datos de uploads');\n}\n\n// Obtener datos del primer upload\nlet projectData = allUploads[0].json;\nlet uploadedElements = [];\nlet infografiaData = null;\n\n// CRÍTICO: Asegurar que las credenciales estén presentes\nif (!projectData.CLAUDE_API_KEY) {\n  try {\n    const credencialesData = $('Configurar Credenciales').first().json;\n    if (credencialesData && credencialesData.CLAUDE_API_KEY) {\n      console.log('✓ Obteniendo CLAUDE_API_KEY desde nodo Configurar Credenciales');\n      projectData.CLAUDE_API_KEY = credencialesData.CLAUDE_API_KEY;\n      projectData.TENANT_ID = credencialesData.TENANT_ID;\n      projectData.CLIENT_ID = credencialesData.CLIENT_ID;\n      projectData.CLIENT_SECRET = credencialesData.CLIENT_SECRET;\n      projectData.SHAREPOINT_HOSTNAME = credencialesData.SHAREPOINT_HOSTNAME;\n      projectData.SHAREPOINT_SITE = credencialesData.SHAREPOINT_SITE;\n    } else {\n      throw new Error('No se encontró CLAUDE_API_KEY en el nodo Configurar Credenciales');\n    }\n  } catch (e) {\n    console.log('ERROR: No se pudo acceder a las credenciales:', e.message);\n    throw new Error('CLAUDE_API_KEY no encontrado. Verifica el nodo Configurar Credenciales.');\n  }\n}\n\nconsole.log('✓ CLAUDE_API_KEY verificado:', projectData.CLAUDE_API_KEY ? 'Presente' : 'FALTANTE');\n\n// Obtener información de la infografía subida\nif (projectData.infografia_uploaded) {\n  infografiaData = projectData.infografia_uploaded;\n  console.log('✓ Infografía encontrada:', infografiaData.cleanFileName);\n} else {\n  // Buscar en uploads anteriores\n  try {\n    const infografiaUpload = $('Subir Infografía').first().json;\n    if (infografiaUpload && infografiaUpload.infografia_uploaded) {\n      infografiaData = infografiaUpload.infografia_uploaded;\n      console.log('✓ Infografía obtenida desde nodo Subir Infografía');\n    }\n  } catch (e) {\n    console.log('No se pudo acceder al nodo Subir Infografía:', e.message);\n  }\n}\n\n// Procesar elementos subidos (si los hay)\nif (allUploads.length > 1 && allUploads.some(upload => upload.json && upload.json.current_element)) {\n  console.log('Procesando múltiples elementos subidos');\n  \n  uploadedElements = allUploads\n    .filter(upload => upload.json && upload.json.current_element && !upload.json.no_elements)\n    .map((upload, index) => {\n      const currentElement = upload.json.current_element;\n      \n      return {\n        fileName: currentElement.cleanFileName,\n        originalName: currentElement.originalName || currentElement.fileName,\n        relativePath: currentElement.relativePath,\n        index: currentElement.uploadIndex || index + 1,\n        size: currentElement.size || 0,\n        sizeMB: ((currentElement.size || 0) / 1024 / 1024).toFixed(2)\n      };\n    });\n} else if (projectData.element_images && Array.isArray(projectData.element_images)) {\n  console.log('Reconstruyendo elementos desde element_images');\n  \n  uploadedElements = projectData.element_images.map((element, index) => {\n    const cleanFileName = `elemento_${String(index + 1).padStart(2, '0')}_${(element.fileName || `elemento_${index + 1}.jpg`).replace(/[^a-zA-Z0-9\\\\.]/g, '_')}`;\n    \n    return {\n      fileName: cleanFileName,\n      originalName: element.originalName || element.fileName || `elemento_${index + 1}.jpg`,\n      relativePath: `./elementos/${cleanFileName}`,\n      index: index + 1,\n      size: element.size || 0,\n      sizeMB: ((element.size || 0) / 1024 / 1024).toFixed(2)\n    };\n  });\n}\n\nconsole.log('Elementos procesados para Claude:', uploadedElements.length);\nconsole.log('Infografía principal:', infografiaData ? infografiaData.cleanFileName : 'NO ENCONTRADA');\n\nif (!infografiaData) {\n  throw new Error('No se encontró la infografía principal. Verifica que se haya subido correctamente.');\n}\n\n// Construir prompt mejorado y específico para infografías\nconst claudePrompt = `Eres un experto desarrollador de emails HTML corporativos especializado en recrear infografías como emails responsivos.\n\n**TAREA PRINCIPAL:**\nAnaliza la imagen de infografía adjunta y genera un email HTML que reproduzca EXACTAMENTE el contenido visual, texto, colores, y disposición de elementos.\n\n**IMAGEN PRINCIPAL:**\n- Infografía: ${infografiaData.cleanFileName} (${infografiaData.sizeMB || 'N/A'}MB)\n- Esta es la imagen que debes analizar y recrear como HTML\n\n${uploadedElements.length > 0 ? `**ELEMENTOS ADICIONALES DISPONIBLES:**\n${uploadedElements.map(elem => \n  `- ${elem.fileName} (${elem.sizeMB}MB) - usar como: ${elem.relativePath}`\n).join('\\n')}\n` : '**ELEMENTOS ADICIONALES:** Ninguno - trabajar solo con la infografía principal\\n'}\n\n**ESPECIFICACIONES TÉCNICAS OBLIGATORIAS:**\n\n1. **Análisis de la infografía:**\n   - Identifica TODOS los textos presentes en la imagen\n   - Reproduce los colores exactos (usa color picker visual)\n   - Mantén las proporciones y jerarquía visual\n   - Identifica iconos, gráficos y elementos decorativos\n\n2. **Estructura HTML:**\n   - DOCTYPE XHTML 1.0 Transitional para máxima compatibilidad\n   - Tabla principal: width=\"600\" cellpadding=\"0\" cellspacing=\"0\"\n   - Solo usar tablas para layout (compatible con Outlook)\n   - Fuente: Arial, Helvetica, sans-serif como base\n\n3. **Elementos obligatorios del email:**\n   - Header corporativo Prima AFP\n   - Saludo personalizado: \"Hola, [Nombre del Cliente]:\" (color #FF4F00, 24px, bold)\n   - Recreación exacta del contenido de la infografía\n   - Call-to-action prominente si existe en la infografía\n   - Footer con logo Credicorp y datos legales\n\n4. **Colores corporativos Prima AFP:**\n   - Naranja corporativo: #FF4F00\n   - Gris corporativo: #45494E\n   - Negro: #1c1c1c\n   - Usar los colores específicos que veas en la infografía\n\n5. **Responsive y compatibilidad:**\n   - Media queries para móviles\n   - Mantener estructura de tabla en versión móvil\n   - Padding horizontal: 50px en desktop, 20px en móvil\n   - Imágenes con width=\"100%\" style=\"max-width: [tamaño]px;\"\n\n6. **Referencias de imágenes:**\n   - Imagen principal: ${infografiaData.relativePath}\n${uploadedElements.length > 0 ? uploadedElements.map(elem => `   - ${elem.originalName}: ${elem.relativePath}`).join('\\n') : '   - Solo usar la imagen principal de infografía'}\n\n**INSTRUCCIONES CRÍTICAS:**\n- Lee PALABRA POR PALABRA todo el texto visible en la infografía\n- Replica EXACTAMENTE los títulos, subtítulos, párrafos y call-to-actions\n- Mantén el orden visual y la jerarquía de información\n- Si hay gráficos o iconos, descríbelos detalladamente para recrearlos con CSS\n- Asegúrate de que el email se vea idéntico a la infografía original\n\n**OUTPUT ESPERADO:**\nHTML completo, funcional y listo para producción que reproduzca fielmente la infografía como email corporativo.`;\n\nreturn {\n  json: {\n    ...projectData,\n    uploaded_elements: uploadedElements,\n    infografia_data: infografiaData,\n    claude_prompt: claudePrompt,\n    total_elements: uploadedElements.length,\n    infografia_file: infografiaData.cleanFileName,\n    // ASEGURAR que las credenciales estén presentes\n    CLAUDE_API_KEY: projectData.CLAUDE_API_KEY,\n    processing_strategy: 'infografia_focused',\n    debug_info: {\n      total_inputs: allUploads.length,\n      has_infografia: !!infografiaData,\n      elements_count: uploadedElements.length,\n      claude_key_present: !!projectData.CLAUDE_API_KEY,\n      infografia_size_mb: infografiaData ? infografiaData.sizeMB : 'N/A'\n    }\n  }\n};"
      },
      "id": "1b9eb13f-e8c9-4139-a5bf-f6c70d125f18",
      "name": "Preparar Prompt Claude",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Procesar respuesta de Claude y preparar HTML final\nconst response = $input.first().json;\nconst projectData = $input.first().json;\n\nconsole.log('=== DEBUG PROCESAR HTML CLAUDE ===');\nconsole.log('Respuesta recibida:', {\n  hasContent: !!(response.content),\n  contentLength: response.content ? response.content.length : 0,\n  hasText: !!(response.content && response.content[0] && response.content[0].text)\n});\n\n// Extraer HTML limpio de la respuesta de Claude\nlet htmlContent = '';\nif (response.content && response.content[0] && response.content[0].text) {\n  htmlContent = response.content[0].text;\n  \n  // Limpiar markdown si existe\n  htmlContent = htmlContent.replace(/```html\\n?/g, '').replace(/```\\n?$/g, '').trim();\n  \n  console.log('✓ HTML extraído, longitud:', htmlContent.length);\n} else {\n  console.log('ERROR: Estructura de respuesta inesperada:', JSON.stringify(response, null, 2));\n  throw new Error('No se generó contenido HTML válido desde Claude');\n}\n\nif (!htmlContent || htmlContent.length < 100) {\n  throw new Error(`HTML generado demasiado corto (${htmlContent.length} caracteres). Verifica la respuesta de Claude.`);\n}\n\n// Validar que es HTML válido básico\nif (!htmlContent.includes('<html') && !htmlContent.includes('<!DOCTYPE')) {\n  console.log('WARNING: HTML no contiene estructura básica, agregando wrapper...');\n  htmlContent = `<!DOCTYPE html>\\n<html>\\n<head>\\n<meta charset=\"utf-8\">\\n<title>Email - ${projectData.project_name}</title>\\n</head>\\n<body>\\n${htmlContent}\\n</body>\\n</html>`;\n}\n\n// Preparar metadatos del archivo HTML\nconst timestamp = new Date().toISOString();\nconst htmlFileName = `${projectData.project_name.replace(/[^a-zA-Z0-9]/g, '_')}_email_${Date.now()}.html`;\nconst htmlPath = `${projectData.PROJECT_FOLDER}/${htmlFileName}`;\n\n// Agregar comentarios informativos al HTML\nconst finalHtml = `<!-- \n  ===============================================\n  EMAIL HTML GENERADO AUTOMÁTICAMENTE\n  ===============================================\n  Proyecto: ${projectData.project_name}\n  Fecha: ${timestamp}\n  Infografía base: ${projectData.infografia_data ? projectData.infografia_data.cleanFileName : 'N/A'}\n  Elementos adicionales: ${projectData.total_elements || 0}\n  Generado por: Claude AI\n  ===============================================\n-->\n${htmlContent}`;\n\nconsole.log('✓ HTML final preparado:', {\n  fileName: htmlFileName,\n  path: htmlPath,\n  size: finalHtml.length,\n  hasInfografia: !!(projectData.infografia_data)\n});\n\nreturn {\n  json: {\n    ...projectData,\n    generated_html: finalHtml,\n    html_file_name: htmlFileName,\n    html_path: htmlPath,\n    html_size: finalHtml.length,\n    generation_complete: true,\n    generation_timestamp: timestamp,\n    success: true\n  }\n};"
      },
      "id": "e2beb8c7-1bdc-497f-86b1-b55b55996d6e",
      "name": "Procesar HTML",
      "type": "n8n-nodes-base.code",
      "position": [
        432,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('Preparar Estructura Carpetas').item.json.SITE_ID }}/drive/root:{{ $json.html_path }}:/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Autenticar SharePoint').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "text/html; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html; charset=utf-8",
        "body": "={{ $json.generated_html }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c02bf9fa-7e99-4cc5-b80b-9c5544245627",
      "name": "Subir HTML",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "project-name",
              "name": "projectName",
              "type": "string",
              "value": "={{ $('Procesar FormData').item.json.project_name }}"
            },
            {
              "id": "project-id",
              "name": "projectId",
              "type": "string",
              "value": "={{ $('Procesar FormData').item.json.project_id }}"
            },
            {
              "id": "html-file",
              "name": "htmlFile",
              "type": "object",
              "value": "={{ { \"name\": $json.html_file_name, \"path\": $json.html_path, \"url\": $json.webUrl, \"size\": $json.html_size } }}"
            },
            {
              "id": "infografia",
              "name": "infografia",
              "type": "object",
              "value": "={{ $json.infografia_data || {} }}"
            },
            {
              "id": "elementos",
              "name": "elementos",
              "type": "array",
              "value": "={{ $json.uploaded_elements || [] }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "object",
              "value": "={{ { \"totalImages\": ($json.total_elements || 0) + 1, \"infografiaSize\": $json.infografia_data ? $json.infografia_data.sizeMB : \"0\", \"htmlGenerated\": $json.generation_complete, \"timestamp\": $json.generation_timestamp } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f989fd07-42d3-4fdd-861a-4b58e0456d0a",
      "name": "Respuesta Final",
      "type": "n8n-nodes-base.set",
      "position": [
        848,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-opus-4-20250514"
        },
        "text": "={{ $json.claude_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "id": "2140d3da-1c0f-47a8-9f32-0e2e03ff723b",
      "name": "Analyze image",
      "credentials": {
        "anthropicApi": {
          "id": "n0KxFEUYcoVgBZOi",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook FormData": {
      "main": [
        [
          {
            "node": "Procesar FormData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar FormData": {
      "main": [
        [
          {
            "node": "Configurar Credenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Credenciales": {
      "main": [
        [
          {
            "node": "Autenticar SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticar SharePoint": {
      "main": [
        [
          {
            "node": "Obtener Info Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Site": {
      "main": [
        [
          {
            "node": "Preparar Estructura Carpetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Estructura Carpetas": {
      "main": [
        [
          {
            "node": "Crear Carpetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Carpetas": {
      "main": [
        [
          {
            "node": "Preparar Infografía",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Infografía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Infografía": {
      "main": [
        [
          {
            "node": "Subir Infografía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Infografía": {
      "main": [
        [
          {
            "node": "Procesar Elementos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Elementos": {
      "main": [
        [
          {
            "node": "Preparar Elemento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Prompt Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Elemento": {
      "main": [
        [
          {
            "node": "Subir Elemento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Elemento": {
      "main": [
        [
          {
            "node": "Preparar Prompt Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Claude": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar HTML": {
      "main": [
        [
          {
            "node": "Subir HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir HTML": {
      "main": [
        [
          {
            "node": "Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Procesar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fde7a6c1-f0b6-4abf-9f4e-52f367828420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4f576128860ee17e4a2b421d3b3157b65ebefc2f24308fec2dd5d369f0fe737"
  },
  "id": "maHp7BWQVGgdakQ4",
  "tags": []
}